<h1>My pet:</h1>
  <h2>My name is <%= petFound.petname %></h2>
  <h2>I'm a <%= petFound.petsort %></h2>
  <h2>I'm a <%= petFound.petbreed %></h2>
  <h2>My birth is on the: <%= petFound.petbirth %></h2>
  <h2>My gender is: <%= petFound.petgender %></h2>
  <h2>My color is: <%= petFound.petcolor %></h2>
  <h2>My hair type is: <%= petFound.pethair %></h2>
  <h2>My next vaccine is: <%= petFound.petvaccines %></h2>
  <h2>and the date is: <%= petFound.petvaccinesdate %></h2>
  <h2>Here's me:</h2><img src="<%= petFound.petpicture %>" />
</div>
<div>
  <a href="/profile/">Back to Profile</a>
  <a href="/profile/mypets">Back to My Pets</a>
  </div>
